title=seo.title || 'Progressive Web App!'
meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description", itemprop="description", content=seo.description || 'Amazing Progressive Web App with SEO optimization!')
meta(name="robots", content="index, follow")
meta(name="distribution", content="Global")
meta(name="rating", content="General")
meta(name="classification", content="Business")
meta(name="fragment", content="!")
meta(name="msapplication-TileColor", content="#E6E6E6")
meta(name="msapplication-TileImage", content=seo.ogImage || `${host}/favicon/android-chrome-512x512.png`)
meta(name="theme-color", content="#E6E6E6")
meta(name="country", content="Brazil")
meta(name="geo.country", content="-25.480876;-49.304425")
meta(name="geo.region", content="BR-PR")
meta(name="ICBM", content="-25.480876, -49.304425")
meta(name="keywords", itemprop="keywords", content=(seo.keywords ? seo.keywords.join(', ') : 'amazing, progressive, web, app, express, node, pug, sass, pwa'))
meta(name="twitter:image", content=seo.ogImage || `${host}/favicon/android-chrome-512x512.png`)
meta(name="twitter:title", content=seo.title || 'Progressive Web App Boilerplate!')
meta(name="twitter:description", content=seo.description || 'Amazing Progressive Web App with SEO optimization!')
meta(name="twitter:card", content='summary_large_image')
meta(property="og:title", content=seo.title || 'Progressive Web App Boilerplate!')
meta(property="og:site_name", content='Progressive Web App Boilerplate')
meta(property="og:description", content=seo.description || 'Amazing Progressive Web App with SEO optimization!')
meta(property="og:type", content="website")
meta(property="og:image", content=seo.ogImage || `${host}/favicon/android-chrome-512x512.png`)
meta(property="og:url", content=url)
link(rel='canonical', href=seo.canonical || url)
link(rel='shortcut icon', href='/favicon/favicon.ico')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
link(rel='apple-touch-icon', sizes='192x192', href='/favicon/android-chrome-192x192.png')
link(rel='manifest', href='/favicon/manifest.json')
link(rel="stylesheet", href=asset('css/app.css'))
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
script(type="application/ld+json")!=getSchemaJSON()